header h1 {
    color: aliceblue;
}

.header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.imagen-header, 
.imagen-footer{
    max-width: 20%;
    margin: 0 0 2rem 2rem;
    width: 5rem;
}
.footer{
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
}
.footer-texto{
    
    margin: 0 2rem 0 1rem
}

.contenedor-nav {
    display: flex;
    align-items: center;
}
.nav-items{
    display: flex;
    flex-wrap: nowrap;
    
}
.contenedor-nav a{
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}
