* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    min-width: 20rem;
    min-height: 5rem;
    background-color: rgb(0, 0, 0);

}

.contenedor-imagenes {
    /* max-width: 100%;
    overflow-x: auto;
    white-space: nowrap; */
    max-width: 80%;
    margin: auto;

}

.alcohol {
    /* width: 5rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 80px;

}

.imagenes img{
    width: 20rem;
    height: 20rem;
}
.imagenes:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.modal {
    display: none;
    /* Ocultar modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    overflow: auto;
    /* Permitir desplazamiento */
}

.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.imagen-modal {
    width: 20rem;
}


.carousel-contenedor {
    margin: auto;
    width: 40rem;
}

.img-carousel {
    width: 20px;
    height: 100%;
}

/* .modal {
    display: block;
    
}
.modal-contenido{
    margin: auto;
    padding: 20px;
    width: 50rem;
    height: 25rem;
    min-height: 12rem;
    min-width: 12rem;
    background-color: aquamarine;
} */

/*------------------- FORMULARIO DE REGISTRO ---------------*/

.formulario {
    width: 50%;
    padding: 1em;
    background-color: #f0f8ff96;
}

.formulario-contenedor {
    background-image: url("https://www.thecocktaildb.com/images/media/drink/2x8thr1504816928.jpg");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-contenedor .form {
    background-color: #ffffffc9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.formulario-label {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
/* .formulario div{
    width: 82%;
} */

.formulario-label label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.formulario-label input,
.formulario-label select {
    width: 80%;
    height: 3rem;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000;
    font-family: inherit;
    background-color: ffffffc9;
    /* border: 1px solid #414141; */
    border: none;
}

.mensaje-error{
    width: auto;
    color: #9b0000;
}
.formulario-btn {
    margin-top: 1rem;
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    font-weight: bold;

}

.formulario-btn:hover {
    background-color: orange;
}

.btn-seleccionar {
    background-color: #ffffffc9;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.btn-seleccionar:hover {
    background-color: cadetblue;
    color: #fefefe;
}

input[type="file"] {
    display: none;
}

.select {
    background-color: #ffffffc9;
    border: none;
    border-radius: 10px;
    height: 35px;
}
.formulario-radio{
    display: flex;
}

/*Estilo del Index*/
#Home{
    background-image: url('../img/tragos-playa.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


#Home h1 {
    color: white;
    text-shadow: 3px 3px 5px rgba(255, 215, 0, 0.7)
}

 
#Home button {
    background-color: rgba(255, 215, 0);
}