* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f2f2f2;
}
.contenedor-imagenes {
    max-width: 80%;
    margin: auto;
}

.alcohol {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes img {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    box-shadow: .5rem .5rem 16px #696969;
}

.imagenes {
    overflow: hidden;
    transition: transform 0.5s ease;
}

.imagenes:hover {
    z-index: 1;
    transform: scale(1.1);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#000000c9;
    overflow: auto;
}

.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    /* padding: 5px; */
    /* border: 1px solid #888; */
    border:none;
    width: 80%;
}

.trago-modal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.trago-modal .receta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.receta p {
    width: 25rem;
    /*auto*/
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.imagen-modal {
    width: 20rem;
}


/* .carousel-contenedor {
    margin: auto;
    width: 40rem;
}

.img-carousel {
    width: 20px;
    height: 100%;
} */

/* .modal {
    display: block;
    
}
.modal-contenido{
    margin: auto;
    padding: 20px;
    width: 50rem;
    height: 25rem;
    min-height: 12rem;
    min-width: 12rem;
    background-color: aquamarine;
} */

/* ------------------- FORMULARIO DE REGISTRO ---------------

.formulario {
    width: 50%;
    padding: 1em;
    background-color: #f0f8ff96;
}

.formulario-contenedor {
    background-image: url("https://www.thecocktaildb.com/images/media/drink/2x8thr1504816928.jpg");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-contenedor .form {
    background-color: #ffffffc9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.formulario-label {
    margin-top: 1em;
    display: flex;
    justify-content: center;
} */

/* .formulario div{
    width: 82%;
} */

/* .formulario-label label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.formulario-label input,
.formulario-label select {
    width: 80%;
    height: 3rem;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000;
    font-family: inherit;
    background-color: ffffffc9; */
    /* border: 1px solid #414141; */
    /* border: none;
}

.mensaje-error {
    width: auto;
    color: #9b0000;
}

.formulario-btn {
    margin-top: 1rem;
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    font-weight: bold;

}

.formulario-btn:hover {
    background-color: orange;
}

.btn-seleccionar {
    background-color: #ffffffc9;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.btn-seleccionar:hover {
    background-color: cadetblue;
    color: #fefefe;
}

input[type="file"] {
    display: none;
}

.select {
    background-color: #ffffffc9;
    border: none;
    border-radius: 10px;
    height: 35px;
}

.formulario-radio {
    display: flex;
} */

/* ----- Busqueda de tragos -----*/

.trago {
    margin: 3rem;
    display: flex;
    align-items: center;
    border: black solid 1px;
    gap: 2rem;

}

.trago img {
    width: 20rem;
}

.prueba {
    display: none;
}

/* ----- vista todos los tragos -----*/
/* ----- ul li alfabeto -----*/
.alfabetico {
    list-style: none;
    display: flex;
    justify-content: center;
}

.letra {
    text-decoration: none;
    margin: 0 2px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: inline-block;
}

.letra:hover {
    background-color: #fefefe;
    color: #f80000;
    transform: scale(1.5);
    z-index: 10;
}

/*------------------- Estilo del Index -------------------*/

#Home {
    background-image: url('../img/tragos-playa.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    filter: brightness(75%);
}

#Home h1 {
    color: white;
    text-shadow: 3px 3px 5px rgba(255, 215, 0, 0.7)
}

#Home button {
    background-color: rgba(255, 215, 0);
}

.form-busqueda-index {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/*------------------- FOOTER -------------------*/

.footerBottom{
    background-color: #111;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

/*------------------- SECCION QUIENES SOMOS ---------------*/

.titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
}

.titulo h1 {
    font-size: 3rem;
    color: #000;
    margin-bottom: 20px;
    position: relative;
}

.titulo h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #333;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-img {
    /* flex: 1; */
    margin-right: 20px;
    overflow: hidden;
}

.about-img img {
    max-width: 80%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-img:hover img{
    transform: scale(1.05);
}

.about-contenido {
    flex: 1;
}

.about-contenido h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.about-contenido p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

/*-------------- SECCION QUIENES SOMOS EQUIPO----------*/

.contenedor {
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#seccion-equipo{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 2rem;
    color: #2c2c2c;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px;
}

.heading i{
    background-color: #333;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin: 0 20px;
}

.cardss{
    width: 266px;
    height: 310px;
    background-color: rgb(235, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    margin: 30px;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
    cursor: pointer;
}

.cardss:hover{
    transform: scale(1.01);
    transition: all ease 0.1s;
}

.top-bar{
    width: 50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top:0;
    transform: translate(-50%);
    background-color: #333;
    border-radius: 0 0 10px 10px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.details p{
    font-size: 0.8rem;
    color: #7a7a7a;
    margin: 5px 0;
}

.iconosredes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconosredes a{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    font-size: 22px;
    line-height: 45px;
    color: #333;
}

.iconosredes a i {
    padding-left: 13px;
}

.iconosredes a:hover {
    color: #fff;
    background-color: #333;
    transition: all ease 0.3s;
}

@media(max-width:612px){
    .cardss{
        flex-grow: 0.7;
    }
}

.herramientas {
    display: flex; /* Usar flexbox para distribuir los íconos */
    justify-content: space-around; /* Distribuir los íconos de manera uniforme */
    align-items: center; /* Centrar verticalmente los íconos */
}

.herramientas i {
    font-size: 2rem; /* Tamaño de fuente más grande para los íconos */
    flex: 1; /* Hacer que los íconos ocupen todo el espacio disponible */
}